<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="Description" content="phpSysInfo is a customizable PHP Script that parses /proc, and formats information nicely. It will display information about system facts like Uptime, CPU, Memory, PCI devices, SCSI devices, IDE devices, Network adapters, Disk usage, and more." />
    <noscript>
      <meta http-equiv="refresh" content="2; URL=index.php?disp=static" />
    </noscript>
    <link rel="shortcut icon" href="gfx/favicon.png" />
    <link type="text/css" rel="stylesheet" href="./templates/<?php echo $template ?>.css" title="PSI_Template"/>
    <link type="text/css" rel="stylesheet" href="./templates/plugin/nyroModal.full.css" />
    <link type="text/css" rel="stylesheet" href="./templates/plugin/jquery.jgrowl.css" />
    <link type="text/css" rel="stylesheet" href="./templates/plugin/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="./templates/plugin/jquery.treeTable.css" />
<!--[if lt IE 9]>
    <script type="text/JavaScript" src="./js.php?name=jquery-1"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/JavaScript" src="./js.php?name=jquery"></script>
<!--<![endif]-->
    <script type="text/JavaScript" src="./js.php?name=jquery.dataTables"></script>
    <script type="text/JavaScript" src="./js.php?name=jquery.nyroModal"></script>
    <script type="text/JavaScript" src="./js.php?name=jquery.jgrowl"></script>
    <script type="text/JavaScript" src="./js.php?name=jquery.timers"></script>
    <script type="text/JavaScript" src="./js.php?name=jquery.treeTable"></script>
    <script type="text/JavaScript" src="./js.php?name=phpsysinfo"></script>
<?php foreach (CommonFunctions::getPlugins() as $plugin) : ?>
    <?php if (file_exists("./plugins/".$plugin."/css/".$plugin.".css")) : ?>
      <link type="text/css" rel="stylesheet" href="./plugins/<?php echo $plugin ?>/css/<?php echo $plugin ?>.css" />
    <?php endif; ?>
    <script type="text/JavaScript" src="./js.php?plugin=<?php echo $plugin ?>"></script>
<?php endforeach; ?>
    <title>phpSysInfo <?php echo PSI_VERSION_STRING ?></title>
  </head>
  <body>
    <div id="loader">
      <h1>Loading... please wait!</h1>
      <div id="container2">
        <noscript>
        <p>Your navigator does not support JavaScript (or JavaScript is not activated).</p>
        <p>In approximatively 2 seconds you will be redirected to the static version of phpSysInfo.</p>
        <p>&nbsp;</p>
        <p><a href="index.php?disp=static">Click here to switch to the static version</a></p>
        </noscript>
      </div>
    </div>
    <div id="errors" style="display: none; width: 940px">
      <div id="errorlist">
        <h2>Oh, I'm sorry. Something seems to be wrong.</h2>
      </div>
    </div>
    <div id="container" style="display: none;">
      <h1>
        <a href="#errors" class="nyroModal">
          <img id="warn" style="vertical-align: middle; display:none; border:0px;" src="./gfx/attention.png" alt="warning" />
        </a>
        <span id="title">
          <span id="lang_001">System information</span>
          :&nbsp;<span id="s_hostname_title"></span>
          (<span id="s_ip_title"></span>)
        </span>
      </h1>
      <div id="select">
        <span id="lang_044">Template</span>
        <select id="template" name="template">
<?php foreach ($templates as $t) :
            $selected = "";
            if ($template === $t) {
                $selected = " selected=\"selected\"";
            }
?>
              <option value="<?php echo $t ?>"<?php echo $selected ?>><?php echo $t ?></option>
<?php endforeach; ?>
        </select>
        <span id="lang_045">Language</span>
        <select id="lang" name="lang">
<?php foreach ($languages as $l) :
            $selected = "";
            if ($language === $l) {
                $selected = " selected=\"selected\"";
            }
?>
              <option value="<?php echo $l ?>"<?php echo $selected?>><?php echo $l?></option>
<?php endforeach; ?>
        </select>
      </div>
      <div id="vitals">
        <h2><span id="lang_002">System vitals</span></h2>
        <table class="stripeMe" id="vitalsTable" style="border-spacing:0;">
          <tr>
            <td style="width:160px;"><span id="lang_003">Hostname</span></td>
            <td><span id="s_hostname"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_004">Listening IP</span></td>
            <td><span id="s_ip"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_005">Kernel Version</span></td>
            <td><span id="s_kernel"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_006">Distro Name</span></td>
            <td><span id="s_distro"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_007">Uptime</span></td>
            <td><span id="s_uptime"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_095">Last boot</span></td>
            <td><span id="s_lastboot"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_008">Current Users</span></td>
            <td><span id="s_users"></span></td>
          </tr>
          <tr>
            <td style="width:160px;"><span id="lang_009">Load Averages</span></td>
            <td><span id="s_loadavg"></span></td>
          </tr>
          <tr style="display:none" id="s_syslang_tr">
            <td style="width:160px;"><span id="lang_097">System Language</span></td>
            <td><span id="s_syslang"></span></td>
          </tr>
          <tr style="display:none" id="s_codepage_tr1">
            <td style="width:160px;"><span id="lang_098">Code Page</span></td>
            <td><span id="s_codepage_1"></span></td>
          </tr>
          <tr style="display:none" id="s_codepage_tr2">
            <td style="width:160px;"><span id="lang_098">Code Page</span></td>
            <td><span id="s_codepage_2"></span></td>
          </tr>
          <tr style="display:none" id="s_processes_tr1">
            <td style="width:160px;"><span id="lang_110">Processes</span></td>
            <td><span id="s_processes_1"></span></td>
          </tr>
          <tr style="display:none" id="s_processes_tr2">
            <td style="width:160px;"><span id="lang_110">Processes</span></td>
            <td><span id="s_processes_2"></span></td>
          </tr>
        </table>
      </div>
      <div id="hardware">
      </div>
      <div id="memory">
      </div>
      <div id="filesystem">
      </div>
      <div id="network">
      </div>
      <div id="voltage" style="display: none;">
        <h2><span id="lang_052">Voltage</span></h2>
        <table class="stripeMe" id="voltageTable" style="border-spacing:0;">
          <thead>
            <tr>
              <th><span id="lang_059">Label</span></th>
              <th class="right"><span id="lang_052">Voltage</span></th>
              <th class="right" style="width: 80px;"><span id="lang_055">Min</span></th>
              <th class="right" style="width: 80px;"><span id="lang_056">Max</span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="temp" style="display: none;">
        <h2><span id="lang_051">Temperature</span></h2>
        <table class="stripeMe" id="tempTable" style="border-spacing:0;">
          <thead>
            <tr>
              <th><span id="lang_059">Label</span></th>
              <th class="right" style="width: 80px;"><span id="lang_054">Value</span></th>
              <th class="right" style="width: 80px;"><span id="lang_058">Limit</span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="fan" style="display: none;">
        <h2><span id="lang_053">Fan</span></h2>
        <table class="stripeMe" id="fanTable" style="border-spacing:0;">
          <thead>
            <tr>
              <th><span id="lang_059">Label</span></th>
              <th class="right" style="width: 80px;"><span id="lang_054">Value</span></th>
              <th class="right" style="width: 80px;"><span id="lang_055">Min</span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="current" style="display: none;">
        <h2><span id="lang_105">Current</span></h2>
        <table class="stripeMe" id="currentTable" style="border-spacing:0;">
          <thead>
            <tr>
              <th><span id="lang_059">Label</span></th>
              <th class="right" style="width: 80px;"><span id="lang_054">Value</span></th>
              <th class="right" style="width: 80px;"><span id="lang_058">Limit</span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="power" style="display: none;">
        <h2><span id="lang_102">Power</span></h2>
        <table class="stripeMe" id="powerTable" style="border-spacing:0;">
          <thead>
            <tr>
              <th><span id="lang_059">Label</span></th>
              <th class="right" style="width: 80px;"><span id="lang_054">Value</span></th>
              <th class="right" style="width: 80px;"><span id="lang_058">Limit</span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="ups" style="display: none;">
      </div>
      <div id="footer">
        <span id="lang_047">Generated by</span>&nbsp;<a href="http://phpsysinfo.sourceforge.net/">phpSysInfo&nbsp;-&nbsp;<span id="version"></span></a>
      </div>
    </div>
  </body>
</html>
