/*
 $Id*
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}

wbr {
    display: inline-block;
}

html {
    height: 100%;
    background: url("aqua/aq_background.gif");
}

body {
    position: relative;
    width: 940px;
    _width: 945px; /* ie6 */
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    font: 75% arial, tahoma, helvetica, sans-serif;
    color: #000;
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

h1 {
    margin: 0 10px;
    _margin: 0 15px 0 10px; /* ie6 */
    padding: 10px 10px;
    border-top: 1px solid #2971a7;
    border-bottom: 1px solid #2971a7;
    font-size: 1.67em;
    font-weight: normal;
    color: #fff;
    background: #2971a7;
}

h2 {
    padding: 5px 10px;
    font-family: "trebuchet ms";
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color: #fff;
    background: #2971a7;
    text-align: center;
}

th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
}

h3 {
    font-size: 100%;
}

table {
    width: 100%;
    font-size: 1em;
    background-color: #fff;
}

table tfoot td {
    color: #2e2e2e;
}

#select {
    text-align: right;
    padding: 10px;
    font-size: 0.8em;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temperature, #voltage, #fans, #power, #current, #other, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 8px;
    _margin: 10px 4px 0 4px; /* ie6 */
    padding: 1px;
    border: 2px solid #2971a7;
    background: #fff;
}

#pciTable, #ideTable, #scsiTable, #nvmeTable, #usbTable, #tbTable, #i2cTable {
    padding: 0px 30px;
}

#memory, #filesystem {
    width: 915px;
}

#filesystemTable thead tr th {
    cursor: pointer;
}

#footer {
    clear: both;
    color: #000;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
}

.plugin {
    float: left;
    margin: 10px 0 0 8px;
    _margin: 10px 4px 0 4px; /* ie6 */
    padding: 1px;
    border: 2px solid #2971a7;
    background: #fff;
}

.even {
    background: #e4ebf3;
}

.bar {
    background: #2971a7;
}

.barwarn {
    background: #a72971;
}

.right {
    text-align: right;
    padding-right: 20px;
}

.dataTables_wrapper{
    margin: 0 0 0 0 !important;
    border: 0px !important;
}

.treeimg {
    display: table-cell;
    *float: left; /* ie6 ie7 */
    vertical-align: top;
}

.treespan {
    display: table-cell;
    *float: left; /* ie6 ie7 */
}

.treespanbold {
    font-weight: bold;
    display: table-cell;
    *float: left; /* ie6 ie7 */
}

.tree tr td {
    cursor: auto;
    height: 100%;
}

.treediv {
    display: table;
    height: 100%;
}

.tablemain {
    width: 100%;
    height: 100%;
}
