/*
 $Id: schabau.css 518 2011-10-28 08:09:07Z namiltd $
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}

wbr {
    display: inline-block;
}

html {
    font-size: 100%;
    height: 100%;
    background-color: #f2f2df;
    color: #666;
}

body {
    font-family: Verdana, "Bitstream Vera Sans";
    font-size: .75em;
    position: relative;
    width: 940px;
    _width: 945px; /* ie6 */
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

h1 {
    margin: 0 10px;
    _margin: 0 15px 0 10px; /* ie6 */
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 150%;
    line-height: 1.5em;
    color: #326ea1;
}

h2 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 130%;
    padding: 3px 10px;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #326ea1;
    border-bottom: 2px solid #326ea1;
}

th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
    font-size: 100%;
}

table {
    width: 100%;
}

#select {
    text-align: right;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temperature, #voltage, #fans, #power, #current, #other, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
}

#pciTable, #ideTable, #scsiTable, #nvmeTable, #usbTable, #tbTable, #i2cTable {
    padding: 0px 30px;
}

#memory, #filesystem {
    width: 915px;
}

#filesystemTable thead tr th {
    cursor: pointer;
}

#footer {
    clear: both;
    color: #5c5c5c;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
    font-size: 80%;
    text-align: center;
}

.plugin {
    float: left;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
}

.even {
    background: #ebe8da;
}

.bar {
    background-color: #326edf;
}

.barwarn {
    background-color: #fa5858;
}

.right {
    text-align: right;
    padding-right: 20px;
}

.treeimg {
    display: table-cell;
    *float: left; /* ie6 ie7 */
    vertical-align: top;
}

.treespan {
    display: table-cell;
    *float: left; /* ie6 ie7 */
}

.treespanbold {
    font-weight: bold;
    display: table-cell;
    *float: left; /* ie6 ie7 */
}

.tree tr td {
    cursor: auto;
    height: 100%;
}

.treediv {
    display: table;
    height: 100%;
}

.tablemain {
    width: 100%;
    height: 100%;
}
